<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
        <p class="home-text">Bring the River Back to Life.</p>
        <h1 class="home-ttile">Openbrook</h1>
        <p class="home-text-two">Every channel you carve reshapes the valley, breathing life back into the parched earth.</p>
    </div>
    <picture>
        <source srcset="
                        /img/home/desk.png 1x,
                        /img/home/desk@2x.png 2x
                          " media="(min-width: 1440px)" />
        <source srcset="
                        /img/home/mob.png 1x,
                        /img/home/mob@2x.png 2x
                           " media="(max-width: 1439px)" />
        <img class="home-img" src="/img/home/mob.png" alt="Fieldvalley" loading="lazy" />
    </picture>    
    </div>
</section>