.footer {
background: #2d2824;
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
font-weight: 600;
  text-align: center;
color: #fff;
}

.footer-text {
  margin-top: 32px;
  text-align: center;
color: #cfcfcf;
}

@media only screen and (min-width: 1440px) {
  .footer-navigation {
    flex-direction: row;
    justify-content: end;
    gap: 60px;
  }

  .footer-text {
    margin-top: 60px;
  }
}