.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 52px;
backdrop-filter: blur(15px);
  background: rgba(253, 252, 240, 0.4);
}

.header-container {
  padding: 6px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
backdrop-filter: blur(15px);
  background: rgba(253, 252, 240, 0.4);
  padding: 32px;
  width: 100%;
  height: 760px;
  z-index: 1000;
  position: fixed;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;

}


.menu-item {
  padding: 8px 12px;
font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  color: #61574f;
  transition: color 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
color: #2d2824;
}


@media screen and (min-width: 1440px) {
  .header {
    height: 62px;
  }

  .header-container {
    padding: 11px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .navigation-item {
    padding: 8px 12px;
font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #61574f;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease-in-out;
  }

  .navigation-item:hover {
color: #2d2824;
  }

  .navigation-item:focus,
  .navigation-item.active {
color: #2d2824;

  }

}